# Application
SERVER_PORT=8080
APP_NAME=teknisio-backend

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=teknisio_db
POSTGRES_USER=teknisio_user
POSTGRES_PASSWORD=mbg-mas-bahlil-ganteng

# JWT
JWT_SECRET=teknisio_super_secret_key_minimum_32_characters
JWT_EXPIRATION_MS=86400000

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
